.border{
    border: 2px solid #ff3c00;
    margin: 3px;
 }
 .flex{
    display: flex;

 }
 .justify-center{
    justify-content: center;
 }
 .item-center{
    align-items: center;
 }
 .invert{
   filter: invert(1);
 }
 .black{
   background-color: black;
   color: white;
 }
 .grey{
   background-color: #121212;
 }